.wrapper_container_block_home_page_main {
   display: flex;
}

.wrapper_container_block_home_page {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 700px;
   // height: 100%;
   border: 2px solid black;
   margin-left: 72px;
   margin-top: 24px;
}